/* #gameboard {
	background-color: black;
} */
#gameboard>div {
	/* positiob: rea */
	/* width: 750px; */
	/* height: 500px; */
	/* background-color: rgba(255, 255, 255, 0.5); */
	display: flex;
	flex-direction: column;
}
#gameboard>div .line {

	display: flex;
	flex-direction: row;
}
#gameboard>div .tile {
	background-color: rgb(100, 100, 100);
	width: 5px;
	height: 5px;
}

.debris {
	background-color: green !important;
}
.player1 {
	background-color: red !important;
}
.player2 {
	background-color: blue !important;
}

/****************************** CONTROLS **************************************/
#controls pre {
	margin-top: 1px;
	margin-bottom: 1px;
}

#controls pre:before {
	color: #008F11;
}
#shipName:before {
	content: "Spaceship:       ";
}
#PPnb:before {
	content: "PPs:             ";
}
#lifeStat:before {
	content: "Hull:            ";
}
#shieldStat:before {
	content: "Shield:          ";
}
#speedStat:before {
	content: "Speed:           ";
}
#manStat:before {
	content: "Maneuverability: ";
}