/*********************************** HEADER ***********************************/
html, body {
	margin: 0;
	padding: 0;
	min-width: 500px;
	min-height: 500px;
	font-family: Arial, Helvetica, sans-serif;
}
#page-head {
	overflow: hidden;
	position: relative;
	height: 12vh;
	min-height: 50px;
}
#page-head>#toolsbar {
	position: relative;
	overflow: hidden;
	display:flex;
	align-items: center;
	width: 100%;
	height: 50%;
	background: #333333
}
#page-head>#navbar {
	overflow: hidden;
	position: relative;
	display:flex;
	align-items: center;
	height: 50%;
    width: 100%;
    background: rgb(235, 135, 28);
}
#toolsbar #cart {
	position: absolute;
	right: 150px;
}
#toolsbar #cart img {
	height: 90%;
	width: auto;
}
#toolsbar #site-logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#page-head a {
	/* height: 100%; */
	line-height: 100%;
	text-align: center;
    text-decoration: none;
	color: white;
	/* text-align: center; */
	padding: 100% 0 100% 0;
	margin: 0 1% 0 1%;

	/* width: auto; */
}

/************************** LOGIN - REGISTER - (...) **************************/
.master_form {
	text-align: center;
	width: 100%;
}
.form {
	font-family: 'Raleway', sans-serif;
	width: 40vmin;
	margin: 0 auto 0 auto;
}
.form hr {
	width: 30%;
	color: #2d77ef;
	background-color: #2d77ef;
	height: 1px;
	border: 0;
}
.form form {
	margin-top: 2%;
	margin: 0 auto 0 auto;
	background-color: #ebebeb;
	padding: 3em;
}
.form form input, .form form textarea {
	resize: none;
	font-size: 1.1em;
	outline: none;
	border: 2px solid #a0b3b0;
	display: block;
	width: 100%;
	height: 3em;
	padding: 0.5em;
	transition: border-color .25s ease, box-shadow .25s ease;
	transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
}
.form form textarea {
	height: 6em;
}
.form input:focus, .form textarea:focus {
	outline: 0;
	border-color: rgb(235, 135, 28);
}
.form .btn:hover {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgb(235, 135, 28);
	color: #fff;
}
.form a {
	display: block;
	text-align: left;
}

/******************************** PRODUCT VIEW ********************************/
.products_view {
	position: relative;
	margin-top: 1%;
	display: flex;
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
}
.products_view .product_frame {
	padding: 2%;
	/* flex-grow: 1; */
	/* flex-basis: 16%; */
	display: flex;


	border: 1px solid #0f0f0f;
	/* overflow: hidden; */
	margin: 1% 1% 1% 1%;
	/* padding: 1% 1% 1% 1%; */
	width: 200px;
	height: 300px;

}
.product_frame .item-block {
	width: 100%;
	height: 100%;
}
.item-block img {
	display: block;
	max-height: 70%;
	max-width: 100%;
	/* margin-left: auto; */
	/* margin-right: auto; */
}

/******************************************************************************/
.categories {
	position: relative;
	height: 3vh;
	padding: 0.5%;
	/* overflow: hidden; */
	display: flex;
	align-content: flex-start;
	white-space: nowrap;
}
.categories button, .categories>div {
	height: 100%;
	border-radius: 5px;
	margin-left: 1%;
	margin-right: 1%;
	border: none !important;
	/* display: inline-block; */
	display: flex;
}
.categories button {
	height: 100%;
}

.categories .spacer {
	flex-grow: 1;
}

.cat-selected button {
	background-color: rgb(255, 150, 35);
}
.cat-unselected button {
	background-color: rgb(120, 120, 120);
}


/************************** DROP-DOWN (COLOR PICKER) **************************/
.dropdown {
	display: relative;
	transition: background-color 1s;
	border-radius: 0;
}

.dropbtn {
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-colr1 2s;
}

.dropdown-content {
	display: none;
	position: absolute;
	/* width: 100%; */
	background-color: #f8f8f8;
	/* min-width: 70px; */
	/* width: 3em; */
	list-style-type: none;
	list-style: none;
	border: 0;
	padding: 0 0 0 0;
	overflow: hidden;
	/* box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2); */
}
.dropdown-content button {
	outline-style: none;
	width: 100%;
}

.dropdown-content li {
	color: black;
	/* width: 100%; */
	/* height: 100%; */
	padding: 2px 2px;
	text-decoration: none;
	display: block;
}

.dropdown-content li:hover {
	background-color: #f0f0f0
}

.dropdown:hover .dropdown-content {
	display: block;
	z-index: 999999999;
}

.dropdown:hover .dropbtn {
	background-color: grey;
}

/********************************** ITEM PAGE *********************************/

#item_page {
	position: relative;
	width: 45%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

@keyframes slide {
    0%	{	transform: translateX(0%);	}
    10% {	transform: translateX(0%);	}
    20% {	transform: translateX(-100%);}
    30% {	transform: translateX(-100%);}
    40% {	transform: translateX(-200%);}
    50% {	transform: translateX(-200%);}
    60% {	transform: translateX(-300%);}
    70% {	transform: translateX(-300%);}
    80% {	transform: translateX(-400%);}
    90% {	transform: translateX(-400%);}
    100%{	transform: translateX(0);	}
}

.img_carousel {
	position: relative;
	width: 100%;
	height: 50%;
	overflow: hidden;
	white-space: nowrap;
}
.img_carousel> .img {
	display: inline-block;
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	animation: slide 32s ease infinite;
}
.img_carousel .img img {
	height: 100%;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
/********************************** CART **************************************/
.shopping-cart {
	width: 40%;
	height: 30%;
	margin: 2% auto;
	background: #FFFFFF;
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
	border-radius: 6px;

	display: flex;
	flex-direction: column;
}

.title {
	border-bottom: 1px #8f8f8f;
	padding: 10px 10px 10px 10px;
}

.freaking-cart {
	background-color: rgba(75, 0, 190, 0.7);
	padding :  2px 2px 2px 2px;
	font-size: 0.8em;
	position: fixed;
	bottom: 50px;
	right: 20px;
}

/*********************** CART 2 ??? *******************************************/
.cart .item {
	width: 100%;
	display: flex;
	border: 2px #8f8f8f;
}
.cart .item>* {
	margin-left: 10px;
	margin-right: 10px;
}

.cart img {
	max-width: 70px;
	max-height: 70px;
}

