li, ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	border: 0;
	padding: 0;
}

button {
	outline-style: none;
}

a {
	background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dropdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5vmin;
	display: inline-block;
	transition: background-color 1s;
}

.dropbtn {
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 1em;
	border: none;
	cursor: pointer;
	transition: background-colr1 2s;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
	color: black;
	padding: 15px 15px;
	text-decoration: none;
	display: block;
}

.dropdown-content li:hover {
	background-color: #f0f0f0
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: grey;
}