
img {
	width: 100%;
	height: 100%;
}

.pan button {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	padding: 0;
}

body {
	background-color: #505050;
}

.pan {
	position: relative;
	border-radius: 10px;
	margin: 10px 10px 10px 10px;
	background-color: #909090;
	box-shadow: 10px 10px 10px 2px black;
	text-align: center;
	flex-direction: column;
	/* flex-wrap: wrap; */
	align-content: space-between;
}

header {
	position: relative;
	width: 75vw;
	height: 140px;
	border-radius: 10px;
	margin:0 auto;
	margin-top: 20px;
	background-color: #909090;
	box-shadow: 10px 10px 10px 2px black;
	text-align: left;
}
header #suicide {
	float: right;
	height: 100%;
}
header #dot42 {
	position: absolute;
	/* max-height: 90%;
	max-width: 50%; */
	height: 85%;
	width: auto;
	left: 0;
	top: 5%;

}
header #loupe {
	position: absolute;
	/* width: 20vw; */
	height:130px;
	width: 230px;
	right: 5%;
	bottom: -15%;
}
header #close {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 10px;
	bottom: 10px;
}
header #reload {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
}

#mainContent {
	position: relative;
	width: 70vw;
	height: 100%;
	margin:0 auto;
	text-align: left;
	display: flex;

}

.sidep {
	width: 7vw;
	padding-top: 10px;
	padding-bottom: 10px;
	height: fit-content;
}
.dogpiss {

	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}
.sidep button:focus {
	box-sizing: border-box;
	outline: 0;
	/* outline-offset: -5px;
	box-shadow: 0 0 0 5px red;
	/* box-sizing: border-box; */
	/* outline-color: red; */
	/* outline-style: solid; */

	border-radius: 5px;
	border: 5px solid red;
	/* box-shadow: 0; */
	/* border: 5px solid red; */
}
.sidep img {
	height: auto;
	width: 3.5vw;
	/* width: 70%; */
	/* height: 70%; */
}
.specialsnowflake {
	width: 5.7vw;
	height: 3.5vw;
	background-image: url(ressources/brick.jpg);
	background-size: 27px;

}

#midpan img {
	/* position: absolute; */
	/* top: 7px; */
	/* bottom: 7px; */
	margin: 10px 10px 10px 10px;
	/* margin-top: 5px */
	/* margin-left: 5px; */
	width: calc(100% - 20px);
	height: calc(100% - 20px);

}

.fenetredepute {
	position: absolute;
	top: 78vh;
	left: 10vw;
	margin-bottom: 25px;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	width: 512px;
	height: 150px;
	background-color: #83ff83;
	border-radius: 10px;
	box-shadow: 7px 12px 15px 2px black;
	font-family: Verdana sans-serif;
	font-size: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fenetredepute *{
	display: inline-block;
}
.fenetredepute p {
	margin: 0;
}
.fenetredepute i {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: inline-block;
	text-decoration: none;
}

.fenetredepute .grostextecon {
	font-family: Palatino, serif;
	font-size: 2em;
}
#textealacon {
	width: 375px;
}
#boutoncon {
	font-size: 0.8em;
	background-image: linear-gradient(to bottom, #f7f7f7,  #e4e4e4);
	border: 1px solid grey; /* or whatever */
	border-radius: 2px;
}
.txtshadowdemerde {
	text-shadow: 5px 5px 7px #F00000;
}
#chairbtn {
	position: absolute;
	left: 35%;
	bottom: 23%;
	width: 4.5vw;
	height: 3vw;
}
#pcbtn {
	position: absolute;
	left: 78%;
	bottom: 23%;
	width: 10vw;
	height: 6vw;
}